* {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.card {
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2em;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
}

.card img {
    align-self: center;
    width: 18em;
    height: 25em;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 1.5em;
    margin: 1em;
    width: 50em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 700px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.5em;
    }
}   
  
form label {
    display: block;
  }

form p {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.full-width {
grid-column: 1 / 3;
}

.disabled {
    background-color: rgb(249, 249, 249);
    font-style: italic;
    color: rgb(57, 57, 57);
}

input,
textarea {
  width: 100%;
  padding: 0.3em;
  border: 0;
  border-bottom: 1px solid rgb(15, 15, 75);
}

#button {
    font-size: 1em;
    width: fit-content;
    align-self: center;
    margin: 1em;
    padding: 0.5em 1em;
    background-color: rgb(15, 15, 75);
    color: white;
    cursor: pointer;
}

span {
    font-size: 0.7em;
    font-style: italic;
}